@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: 'Monalisa';
  src: url('../fonts/monalisa.woff2') format('woff2'),
       url('../fonts/monalisa.woff') format('woff'),
       url('../fonts/monalisa.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} */